html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

#addressInput {
  width: 600px;
  height: 60px;
  margin: auto;
  position: fixed;
  top: 60px;
  left: 50%;
  z-index: 999;
  margin-top: -15px;
  margin-left: -15%;
  border: 1px solid #ccc;
  border-radius: 25px;
}
